PORT = 8000
MONGODB_URL = mongodb+srv://lakshaypahwa47:your-password@lakshay0.jni7bmo.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET=123
ACCES_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRY=10d#iski expiry access token se jaada hoti hai CLOUDINARY_CLOUD_NAME=k28X4a1_YPkOIMwir524T4_MxtA@djfy4en07
CLOUDINARY_API_KEY = 9
CLOUDINARY_API_SECRET=kggg
CLOUDINARY_CLOUD_NAME= vre